/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2017, 3:29:41 PM
    Author     : Preet
*/
.background {
    -fx-background-color: #414342;
}

.button {
    -fx-padding: 10px 20px;  
    -fx-text-align: center;
    
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #d8d8d8;
    -fx-border-color:#555555;   
    -fx-text-fill:#000000;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
 }
 


.button:hover {
    -fx-background-color:#555555;
    -fx-text-fill: white;
    padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:pressed,.button:default:hover:pressed {
  -fx-background-color: #414342;
  -fx-text-fill: white;
}

.label {

}

.text-field{
-fx-background-color:#ffffff;
-fx-border-color:#000000;
}

.combo-box{
-fx-background-color:#ffffff;
-fx-border-color:#000000;
}



